<%= form_with model: vehicle, data: {turbo: false} do |f| %>
  <p>
    <%= f.label :brand, 'brand' %>
    <%= f.text_field :brand %>
  </p>
  <p>
    <%= f.label :model, 'model' %>
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :year, 'year' %>
    <%= f.number_field :year %>
  </p>
  <p>
    <%= f.label :kind, 'kind' %>
    <%= f.number_field :kind %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>

  <% if action_name == 'edit' %>
    Estou no Edit
  <% elsif action_name == 'new' %>
    Estou no new
  <% end %>
<% end %>