<%= form_with model: vehicle, data: {turbo: false} do |form| %>
  <p>
    <%= form.label :brand, 'brand' %>
    <%= form.text_field :brand %>
  </p>
  <p>
    <%= form.label :model, 'model' %>
    <%= form.text_field :model %>
  </p>
  <p>
    <%= form.label :year, 'year' %>
    <%= form.number_field :year %>
  </p>
  <p>
    <%= form.label :kind, 'kind' %>
    <%= form.number_field :kind %>
  </p>
  <p>
    <%= form.submit 'Create' %>
  </p>

  <% if action_name == 'edit' %>
    Estou no Edit
  <% elsif action_name == 'new' %>
    Estou no new
  <% end %>
<% end %>